/* Style The Dropdown Button */
.dropdownButton {
    background-color: transparent;
    color: white;
    font-size: 13px;
    border: none;
    cursor: pointer;
    justify-content: center;
    height: 17px;
  }

  .dropdownButton::after {
    content: "▼";
    font-size: 0.8em;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdownContentContainer {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px 0 0 0; /* Add padding top to prevent gap */
    margin-top: 0;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    z-index: 100; /* Ensure it's above other content */
  }

  .dropdown:hover .dropdownContentContainer {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

  .dropdownContentContainer::before {
    content: '';
    position: absolute;
    top: -10px; /* Create invisible bridge */
    left: 0;
    width: 100%;
    height: 10px;
    background: transparent;
}
  
  /* Dropdown Content (Hidden by Default) */
  .dropdownContent {
    display: block;
    position: relative;
    top: 25px;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(86, 70, 54);
    min-width: 250px;
    z-index: 1;

    border-image-slice: 39 31 39 31;
    border-image-width: 30px 30px 30px 30px;
    border-image-outset: 15px 15px 15px 15px;
    border-image-repeat: stretch repeat;
    border-image-source: url(/img/dropdownMenuBorder.svg);

    opacity: 0.8;
  }
  
  /* Links inside the dropdown */
  .dropdownContent a {
    color: #DDDDDD;
    /* padding: 12px 16px; */
    margin-left: 5px;
    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: rgba(215, 195, 151) 2px solid;
    text-decoration: none;
    display: block;

  }
  
  /* Change color of dropdown links on hover */
  .dropdownContent a:hover {background-color: rgba(252, 239, 188, 0.2)}
  
  .dropdownSubMenuHeader {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #D7C397;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
  }