body {
    margin: 0;
    padding: 0;
    background-image: url(/img/bg.png);
    background-position: center top;
    height: 3240px;
    overflow-y: scroll;
    overflow-x: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
    margin: 0;
}

#particles {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

span {
    font-size: 13px;
    color: #ffffff;
    /* font-weight: bold; */
    font-family: 'Caudex', serif;
}

.header-right > .button-a {
    width: 125px;
}

.button-a {
    position: relative;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
    background: none;
    width: 113px;
}

.button-a-img {
    width: 113px;
}

.button-a:hover {
    transform: scale(1.05);
}

header {
    width: 100%;
    height: 95px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.button-a-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.button-a-text {
    position: absolute;
    font-size: 13px;
    font-family: 'Caudex', serif;
    color: rgb(226, 226, 226);
    pointer-events: none;
}

h1 {
    font-size: 60px;
    opacity: 0.9;
    color: rgb(192, 182, 138);
    width: 100%;
    margin-bottom: 0px;
    font-family: 'Caudex', serif;
}

h2 {
    color: rgb(226, 226, 226);
    opacity: 0.9;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: normal;
    font-family: 'Caudex', serif;
}


.svg-element {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}